div{
    width:200px;
    margin-left: 300px;
    height: auto;
    background-color: red;
    border-radius: 12px;
    padding-left: 40px;
}
button{
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 8px;
}